# Appwrite backend
VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=digivasitydb
VITE_APPWRITE_USERS_COLLECTION_ID=users
VITE_APPWRITE_NEWS_COLLECTION_ID=news
VITE_APPWRITE_NOTIFICATIONS_COLLECTION_ID=notifications
VITE_APPWRITE_STORAGE_BUCKET_ID=digivasity_storage
VITE_APPWRITE_GOOGLE_SUCCESS_URL=
VITE_APPWRITE_GOOGLE_FAILURE_URL=
# Google Cloud redirect URI to authorize in the provider settings:
# https://fra.cloud.appwrite.io/v1/account/sessions/oauth2/callback/google/digivasity

# Optional app settings
VITE_ADSENSE_PUB_ID=ca-pub-4188538911412591
GEMINI_API_KEY=
