VITE_FCM_VAPID_KEY=BBZ6CC7iOK0tnPqTx3MPLb5FOQmjmE4dhfqgbEq8CEtDGJxBSjlnw166weJEhIFQNEvXjNjxq5gVJqLmZ-L8giA
VITE_APP_URL=https://digivasity.com
GEMINI_API_KEY=AIzaSyAJDmHcDK0RjRHQKrBBnTUVx88SzpvgX2w
VITE_GEMINI_BACKEND_URL=
FLW_SECRET_KEY=FLWSECK-2171fb21977521e1ec3d32019732a0d4-19cdcf852f3vt-X
VITE_FLW_PUBLIC_KEY=FLWPUBK-0dc101be60432e1cf0b5a76613791b03-X
VITE_ADSENSE_PUB_ID=ca-pub-4188538911412591
PUSH_API_SECRET=BBZ6CC7iOK0tnPqTx3MPLb5FOQmjmE4dhfqgbEq8CEtDGJxBSjlnw166weJEhIFQNEvXjNjxq5gVJqLmZ-L8giA
APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=digivasity
VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=digivasity
APPWRITE_API_KEY=standard_3760fc0c60b23b409df8f6b66804531bb711accd0a6ad02695e6e6bb300e7662481349ca926e76d2eff84e09fab967a8447fc7686338e971b707c944ae7bf939c7c686a26f85e56fd419b2fb6f2cfb4116a13073218283b93077e2bee06b321de4838e5ebcf07b9214bf267186a9757d7174c9244d79eee9a9e97a4a7c69c453
APPWRITE_DATABASE_ID=digivasitydb
APPWRITE_STORAGE_BUCKET_ID=digivasity_storage
APPWRITE_USERS_COLLECTION_ID=users
APPWRITE_NEWS_COLLECTION_ID=news
APPWRITE_NOTIFICATIONS_COLLECTION_ID=notifications
VITE_APPWRITE_NEWS_NOTIFIER_FUNCTION_ID=6a1cb3a8002ff36fe063
VITE_APPWRITE_VERIFY_URL=https://digivasity.com/?mode=verifyEmail
